<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCA9xoan62Fj4PnUtyhMy0eHS0Qa_fuyPU</string>
	<key>GCM_SENDER_ID</key>
	<string>231631251146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>health-app-80e19</string>
	<key>STORAGE_BUCKET</key>
	<string>health-app-80e19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231631251146:ios:4b48f21d16d828c857f633</string>
</dict>
</plist>